* {
    margin: 0;
    padding: 0;
}

:root {
    --darkBg1: #474747;
    --darkBg2: #2e2e2e;
    --lightBg1: #F5f5f5;
    --lightBg2: #EBEBEB;
    --accent1: #CAE5FF;
    --accent2: #BDEEC1;
    --darkAccent:#4584bf;
}

body {
    background: radial-gradient(circle farthest-side, var(--darkBg1), var(--darkBg2));
    background-size: cover;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

/* header */
h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
}

h3 {
    text-transform: uppercase;
    font-size: 1em;
}

.topbar {
    background: radial-gradient(circle farthest-side, #292929, #1f1f1f);
}

.logo {
    height: 75px;
    width: 75px;
}

/* section styles */
section {
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    height: max-content;
}

.section-black {
    background: radial-gradient(circle farthest-side, var(--darkBg1), var(--darkBg2));
}

.section-white {
    background: radial-gradient(circle farthest-side, var(--lightBg1), var(--lightBg2));
    color: #2e2e2e;
}

.section-header {
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to right, var(--accent1), var(--accent2));
    padding: 10px;
    color: #2e2e2e;
}

.section-content {
    padding: 10px;
}

/* lists */
ol li {
    list-style-position: inside;
}

ul li {
    list-style-type: none;
}

/* trends list */
.tag-list {
    color: var(--darkBg1);
    font-size: 1.5em;
    font-weight: bold;
    max-width: max-content;
    word-break: break-all;
}

.tag-list:hover {
    background: linear-gradient(to right, var(--accent1), var(--accent2));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 5px;
    cursor: pointer;
}

/* general utilities */
.d-none {
    display: none;
}

.opacity-0 {
    opacity: 0;
}

.shadow-dark {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
}

.shadow-light {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


/* buttons */
.btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--accent1);
    color: black;
    text-transform: uppercase;
    font-size: smaller;
}

.btn-enabled {
    border: none;
    background-color: var(--accent1);
    color: var(--darkBg2);
}

.btn-enabled:hover {
    background-color: var(--lightBg2);
    color: var(--darkBg2);
    transform: translateY(2px);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

.btn-disabled {
    border: 1px solid var(--lightBg2);
    background-color: var(--darkBg2);
    color: var(--lightBg2);
}

/* links */
a {
    text-decoration: none;
    color: var(--darkBg2);
}

.a-light:hover, .a-dark:hover {
    color: var(--darkAccent);
    transition: all ease-in-out 0.2s;
}

.a-dark {
    color: var(--darkBg2)
}

.a-light {
    color: var(--lightBg2)
}

/* playlist */
.playlist-item {
    border-bottom: 1px solid var(--lightBg1);
    list-style-type: none;
    padding: 1em;
}

.playlist-item:hover {
    background: radial-gradient(circle farthest-side, var(--lightBg1), var(--lightBg2));
    color: var(--darkBg2);
}

.playlist-item:hover a {
    color: var(--darkAccent);
}

.playlist-item:last-child {
    border-bottom: none;
    border-radius: 0 0 5px 5px;
}

/* flex utilities */
.flex-row {
    display: flex;
    flex-flow: row wrap;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
}

.align-center {
    align-items: center;
}

.justify-center-between {
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-content: center;
    align-items: center;
}

/* margin & padding utilities */
.m-1 {
    margin: 1em;
}

.m-5 {
    margin: 0.5em;
}

.ml-1 {
    margin-left: 1em;
}

.mt-1 {
    margin-top: 1em;
}

.mb-1 {
    margin-bottom: 1em;
}

.p-1 {
    padding: 1em;
}

.p-5 {
    padding: 0.5em;
}

/* loading spinner */
.loader {
    width: 25px;
    height: 25px;
    margin: 0 auto;
    border: none;
    background: conic-gradient(from 90deg, var(--accent1), var(--accent2), var(--accent1));
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* iframe sizing */
iframe {
    width: 100%;
    min-height: 300px;
}

/* footer */
.appear {
    transition: all ease-in 0.3s;
}

#expand:hover > .appear {
    opacity: 100%;
}

.appear::before {
    content: "/ ";
}

footer {
    background: linear-gradient(to right, var(--accent1), var(--accent2));
    width: 100%;
    position: fixed;
    bottom: 0;
    color: var(--darkBg2)
}

/* MEDIA QUERIES */
@media screen and (min-width: 64em) {
    .justify-center-between {
        justify-content: space-between;
    }
    .mb-1 {
        margin-bottom: 0;
    }
}